    <h1>Things I like:</h1>
    <p>
      These are my current interests and projects.
    </p>
<p>
    <%= link_to "Hungry Bug", '#', :class => "signup_button round" %><%= link_to "Github", '#', :class => "Github round" %><%= link_to "Photos", '#', :class => "Photos round" %>
</p>

