<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Button", '#' %></li>
      <li><%= link_to "Lost?", 'contact#path' %></li>
      <li><a href="facebook.com">Don't Click Here</a></li>
      <li><a href="google.com">Exit</a></li>
    </ul>
  </nav>
</footer>>
